@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-brand-yellow: #FFD700;
  --color-brand-grey: #333333;
}

body {
  @apply bg-slate-50 text-slate-800;
  margin: 0;
  min-height: 100vh;
}